<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Index</title>
  <link rel="stylesheet" href="css/style.css">
<script src="js/script.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
  <header>
    <h1>Welcome to Jason Seminara Realty</h1>
    <div id="picture">
      <img src="jason-seminara-sells.png" alt="">
    </div>
  </header>
  <div id="search-buttons">
    <button id="buildings">Click here to see a list of all buildings</button>
    <button id="apartments">Click here to see a list of all apartments</button>
    <button id="tenants">Click here to see a list of all tenants</button>
    <button id="doormen">Click here to see a list of all doormen</button>
  </div>
  <div id="list-container"></div>
</body>
</html>
