<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/shows.js" type="text/javascript" charset="utf-8" async defer></script>

</head>
<body>
  <header>
    <h1>Jason Seminara Realty</h1>
    <a href="/">Back to search</a>
  </header>
  <div id="list-container">
    <div id="below">
      <form action="" class="update">
       <!--  <button id="update-me">Update</button> -->
      </form>
      <button id="delete-item">Delete this listing</button>
    </div>
  </div>
</body>
</html>
