<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home Page</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="bg">
    <img src="/images/background.png" alt="">
  </div>

  <div id="home">
    <h1>Home Page</h1>
    <a href="/angry-birds">Click here to see all the angry birds!</a>
   </div>
</body>
</html>
