<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Bungee+Inline|Fjalla+One|Limelight|Open+Sans+Condensed:300|Pathway+Gothic+One|Yanone+Kaffeesatz" rel="stylesheet">
  <script src="js/scripts.js" aysnc defer></script>
</head>
<body>
  <div id="background">
    <img src="/images/noir-film.jpg" alt="">
  </div>

  <header>
    <div id="popcorn"></div>
      <h1>Welcome to Müvie Haus 2 📽</h1>
  </header>

  <div id="container">

    <div class="inside-container">
      <h2>Now Playing</h2>
      <div id="container-left"></div>
    </div>

    <div class="inside-container">
      <h2>Movie Search</h2>
      <div id="container-right">
        <div id="search-bar">
          <input type="text" id="search-input" placeholder="Search by Movie Title">
          <button id="search-button">Search</button>
        </div>
        <div id="search-results"></div>
        <form action="" id="hidden-form"></form>
      </div>
    </div>

  </div>

</body>
</html>
