<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>More INFO</title>
  <link rel="stylesheet" href="/css/shows.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Bungee+Inline|Fjalla+One|Limelight|Open+Sans+Condensed:300|Pathway+Gothic+One|Yanone+Kaffeesatz" rel="stylesheet">
  <script src="/js/shows.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
  <div id="background">
    <img src="/images/noir-film.jpg" alt="">
  </div>

  <header>
    <div id="popcorn"></div>
      <h1>Welcome to Müvie Haus 2 📽</h1>
  </header>

  <div id="container">
    <a href="/">Home</a>

    <div id="holder">
      <div id="movie-container"></div>
      <div id="movie-info"></div>
    </div>
  </div>

</body>
</html>
